<footer>
    <div class="footer-content">
        <p>© 2026 Cinéma Le Vox – Saint-Ouen</p>

        <div class="tmdb-attribution">
            {% include 'icons/tmdb.svg.twig' %}
            <p>Ce produit utilise l'API TMDb mais n'est ni approuvé ni certifié par TMDb.</p>
        </div>

        <nav>
            <a href="/mentions-legales">Mentions Légales</a> |
            <a href="/confidentialite">Politique de confidentialité</a>
        </nav>
    </div>
</footer>
