<header>
    {% if isHome %}
        <h1 class="site-name">Le Vox</h1>
    {% else %}
        <a class="site-name" href="{{ path('app_homepage') }}">Le Vox</a>
    {% endif %}
    <p>{{ headerSubtitle }}</p>
</header>
